# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
*.venv/
venv/
env/
docs/
.playwright-mcp/
# Jupyter Notebook
.ipynb_checkpoints/

# IDE
.idea/
*.swp
*.swo

# System files
.DS_Store
Thumbs.dboutput/
